/*---------------------------------  Styles.css  ---*/ 

body {
  background-color: #ffffff;
  font-family: '宋体';
  font-size: 80%;
  padding: 0;
  margin: 0;
  text-align: center; }

#page {
  margin: auto;
  width: 980px;
  text-align: left;
  padding: 5px;
  background-color: #FFFFFF;
  clear: both; }

#header {
  color: #FFFFFF;
  font-family: '宋体';
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 0.72em;
}

#logo {
  float: left;
  height: 62px;
}
  
#banner {
  float: left;
  height: 50px;
  margin-top: 12px;
}

#main {
  background-color: white;
  float: left;
  width: 100%;
  margin: 15px 0px 30px; }

h1 {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 0.72em;
  text-transform: uppercase; }

h2 {
  color: #cc0000;
  font-family: Georgia, sans-serif;
  font-size: 270%;
  font-weight: normal;
  margin: 0px; }

h3 {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 195%;
  margin: 0px;
  font-weight: bold; 
  text_align: center;
  color: #cc0000; }

h3 a {
  color: #451811;
  text-decoration: none;
  border-bottom: none;
  margin: 0px; }

a {
  color: #cc0000;
  text-decoration: none;}

p {
  color: #232323;
  font-family: Georgia, Times, "Times New Roman";
  font-size: 1.3em;
  line-height: 1.3em;
  margin: 0px 0px 10px; }

ul {
  padding: 0; }

li {
  padding: 0; }


/*---MAIN COLUMN---*/  

#content-wrapper {
  float: right;
  width: 760px; }

#content {
  padding: 0px 15px; }


/*---SIDEBAR---*/  

#sidebar-wrapper {
  float: left;
  width: 220px; }

#sidebar {
  font-size: 100%;
  padding: 0px;
  padding-top: 0px; }

#sidebar .list ul {
  list-style-image: url('/images/arrow.gif');
}

#sidebar .list li {
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px dotted #49140c;
}

/*---FOOTER---*/ 

#footer-wrapper {
  margin: 5px auto;
  width: 980px; }

#footer {
  text-align: left;
  color: #595452;
  float: right;
  font-family: "宋体";
  font-size: 70%;
  margin-bottom: 30px; }


/*---------------------------------  Navigation.css  ---*/ 

#nav {
  margin-top: 90px;
  height: 38px;
  background: transparent url(http://spurrd.com/assets/132/nav-background.gif) repeat-x top left; }

#nav ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: auto; }

#nav ul li {
  display: block;
  float: left;
  margin: 0;
  padding: 0; }

#nav ul li a {
  font-family: "Lucida Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  display: block;
  float: left;
  color: #3D3D3D;
  text-decoration: none;
  padding: 8px 16px 7px;
  border-bottom: none;
  background: transparent url(http://spurrd.com/assets/150/nav-divider.gif) no-repeat top right; }

#nav ul li a:hover {
  color: #FFFFFF;
  background: #49140c;
  border-bottom: 1px solid #49140c; }

#nav ul li.selected a {
  color: #FFFFFF;
  background: #cc0000;
  border-bottom: 1px solid #0b0b0a; }

#nav ul li.search_box {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}

#products ul {
  list-style-type: none;
}

.product {
  float: left;
  width: 180px;
  margin: 4px 4px 4px 4px;
  text-align: center; 
}

.product img {
  border: 0.5px solid rgb(204,204,204);
  padding: 10px;
}

#account {
  float:right;
  margin-top: 10px;
}

#tabs span {
  color: #cc0000;
  font-weight: bold;
}
