<% content_for(:head) do %>
  <%= javascript_include_tag 'galleria/src/galleria'%>
  <%= javascript_include_tag 'galleria/src/themes/classic/galleria.classic'%>
<% end %>

<% content_for :scenes do %>
<h3>企业风貌<small><i>(请使用IE8或更高级版本浏览效果)</i></small></h3>

<br>

<div id='gallery'>
  <% 1.upto(9) do |i| %>
    <%= image_tag "scenes/#{i}.JPG" %>
  <% end %>
</div>

<script type='text/javascript'>
  $('#gallery').galleria({ image_crop: true, transition: 'fade', autoplay: true, carousel: false});
</script>

<% end %>
