<h3>新闻类别</h3>

<br>
<%= render :partial => "list", :locals => {:model => "broadcast"}%>

<br>
<br>

<h3>产品类别</h3>

<br>
<%= render :partial => "list", :locals => {:model => "product"}%>

<br>
<br>

<h3>下载类别</h3>

<br>
<%= render :partial => "list", :locals => {:model => "asset"}%>
